<div ng-controller="CompletedCtrl">
  <h1>Your Completed Transactions</h1>
  <hr>
    <div ng-repeat="transaction in transactions">
      <div ng-show="transaction.isBuyer"><h3> Bought {{transaction.item.name}} for ${{transaction.price}} from {{transaction.sellOffer.postedBy.firstName}} {{transaction.sellOffer.postedBy.lastName}}<h3></div>
      <div ng-show="!transaction.isBuyer"><h3> Sold {{transaction.item.name}} for ${{transaction.price}} to {{transaction.buyOffer.postedBy.firstName}} {{transaction.buyOffer.postedBy.lastName}}<h3></div>
      <form ng-submit="review(transaction)">
        <div class="form-group row">
          <div class="col-sm-12">
            <fieldset class="rating">
              Rate this transaction:
              <input type="radio" ng-attr-id="{{'star5' + transaction.index}}" name="rating5" value="5" ng-model="transaction.score"/><label for="{{'star5' + transaction.index}}" title="Awesome!">5 stars</label>
              <input type="radio" ng-attr-id="{{'star4' + transaction.index}}" name="rating4" value="4" ng-model="transaction.score"/><label for="{{'star4' + transaction.index}}" title="Pretty good">4 stars</label>
              <input type="radio" ng-attr-id="{{'star3' + transaction.index}}" name="rating3" value="3" ng-model="transaction.score"/><label for="{{'star3' + transaction.index}}" title="Okay">3 stars</label>
              <input type="radio" ng-attr-id="{{'star2' + transaction.index}}" name="rating2" value="2" ng-model="transaction.score"/><label for="{{'star2' + transaction.index}}" title="Kinda bad">2 stars</label>
              <input type="radio" ng-attr-id="{{'star1' + transaction.index}}" name="rating1" value="1" ng-model="transaction.score"/><label for="{{'star1' + transaction.index}}" title="Horrible">1 star</label>
          </fieldset>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-9">
            <textarea ng-model="transaction.review_content" class="review form-control" rows="3" placeholder="Enter your review here"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <input name="submit_review" class="btn btn-default" type="submit"></input>
          </div>
        </div>
      </form>
    </div>
</div>