<div ng-controller="ItemCtrl">
  <hr>
  <div class="item_left">
    <h3>Sell:</h3>
    <div ng-repeat="sell in item.offers | filter:{type:'sell'}| orderBy:order:true">
      ${{sell.price}} {{sell.postedBy.firstName}} {{sell.postedBy.lastName}}
    </div>
    <h1 class="item_name">{{item.name}}</h1>
    <h3>Buy:</h3>
    <div ng-repeat="buy in item.offers | filter:{type:'buy'} | orderBy:order:true">
      ${{buy.price}} {{buy.postedBy.firstName}} {{buy.postedBy.lastName}}
    </div>
  </div>
  <div class="item_right">
  </div>

  <form class="item_description">
    <h3> Description:</h3>
    <h4>{{item.description}}</h4>
    <h3>I'm willing to:</h3>
    <button ng-click="offer('buy')" class="btn btn-default bid_button"><h4>Buy</h4></button><br>
    <button ng-click="offer('sell')" class="btn btn-default bid_button"><h4>Sell</h4></button>
    <div class="enter_price">
      for $ <input ng-model="price" class="price" type="text"></input>
    </div>
    <h3> from someone with reputation at least </h3>
    <input ng-model="reputation" class="reputation-required" type="text">
    </input>
  </form>
  <div ng-show="message">
    {{message}}
  </div>
</div>