<div ng-controller="ItemCtrl">
  <h1>{{item.name}} <small>{{item.description}}</small></h1>
  <div class="col-sm-4">
    <h3>Sell:</h3>
    <table class="item_offers_table">
      <tr>
        <th>Sell Price</th>
        <th>Seller Reputation</th>
      </tr>
      <tr ng-repeat="sell in item.offers | filter:{type:'sell'}| orderBy:order:true" ng-show="userReputation >= sell.minReputation">
        <td>${{sell.price}}</td>
        <td>{{sell.postedBy.reputation}}</td>
      </tr>
    </table>
    <h3>Buy:</h3>
    <table class="item_offers_table">
      <tr>
        <th>Buy Price</th>
        <th>Buyer Reputation</th>
      </tr>
      <tr ng-repeat="buy in item.offers | filter:{type:'buy'} | orderBy:order:true" ng-show="userReputation >= buy.minReputation">
        <td>${{buy.price}}</td>
        <td>{{buy.postedBy.reputation}}</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-8">
    <form class="form-horizontal" role="form">
      <div class="text-right">
        <h3>Make an Offer</h3>
      </div>
      <div class="form-group">
        <label for="offer" class="col-xs-4 control-label">$</label>
        <div class="col-xs-8">
          <input ng-model="price" type="text" class="price form-control" id="offer" placeholder="Offer">
        </div>
      </div>
      <div class="form-group">
        <label for="reputation" class="col-xs-4 control-label">Reputation</label>
        <div class="col-xs-8">
          <input ng-model="reputation" type="text" class="reputation-required form-control" id="reputation" placeholder="Match with this or higher">
        </div>
      </div>
      <div class="btn-group btn-group-justified btn-group-lg" role="group" aria="...">
        <a ng-click="offer('buy')" class="btn btn-primary bid_button">Buy</a>
        <a ng-click="offer('sell')" class="btn btn-primary bid_button">Sell</a>
      </div>
    </form>
    <div role="alert" ng-show="error" class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      {{message}}
    </div>
    <div role="alert" ng-show="posted" class="alert alert-info" >
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{message}}
    </div>
    <div role="alert" ng-show="matched" class="alert alert-success" >
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{message}}
    </div>
  </div>
</div>