<div class="jumbotron">
  <h1>The Grand Exchange</h1>
  <hr>
  <h2>Log In</h2>
  <form ng-submit="authenticate()">
  <div class="form-group">
    <input type="text" placeholder="Email" ng-model="email"></input>
  </div>

  <div class="form-group">
    <input type="password" placeholder="Password" ng-model="password"></input>
  </div>
  <div ng-show="warning" class="alert alert-danger" role="alert">{{warning}}</div>
  <button type="submit">Log In</button>
  </form>
  <a href="#/newUser">New User</a>
</div>