<div ng-controller="LoginCtrl">
  <h2 class="text-center">Log In</h2>
  <hr>
  <form ng-submit="authenticate()">
    <div class="row">
      <div class="form-group col-xs-12">
        <input type="text" ng-model="email" class="form-control" placeholder="Email (@mit.edu)">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12">
        <input type="password" ng-model="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div ng-show="warning" class="alert alert-danger" role="alert">{{warning}}</div>
      </div>
    </div>
  <button type="submit" class="btn btn-default">Log In</button>
  </form>
  <br>
  <div>
    <a href="#/newUser">New User</a>
  </div>
  <div>
    <a href="#/verification">Verify Account</a>
  </div>
</div>