<div ng-controller="MainCtrl">
  <div class="items_container">
    <div ng-repeat="item in items">
      <div class="col-sm-5 col-md-2 item" >
        <div>Sell: {{item.bestSell}}</div>
        <div class="item_details" type="submit" ng-click="toItem(item)">
          <h3>{{item.name}}</h3>
          <div>{{item.description}}</div>
        </div>
        <div class="bestbuy">Buy: {{item.bestBuy}}</div>
        <div class="flag">
          <span title="Flag this item as inappropriate" class="glyphicon glyphicon-flag {{flagged(item) == true ? 'flagged' : ''}}" ng-click="flag(item)"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-2 item">
      <form ng-submit="addItem()">
        <div>Add new item</div>
        <div class="item_details_add">
          <input class="form-control new-item" type="text" placeholder="Name" ng-model="name"></input>
          <textarea class="form-control new-item" rows="3" placeholder="Description" ng-model="description"></textarea>
          <input type="submit" class="new-item-submit btn"></input>
        </div>
      </form>
    </div>
  </div>
</div>