<div ng-controller="OffersCtrl">
  <h1>My Offers</h1>
  <table ng-table="tableParams" class="table">
    <tr ng-repeat="offer in offers">
      <td data-title="'Item'" sortable="'item'">
        {{offer.item}}
      </td>
      <td data-title="'Price'" sortable="'price'">
        $ {{offer.price}}
      </td>
      <td data-title="'Type'" sortable="'type'">
        {{offer.type}}
      </td>
      <td>
        <div ng-click="deleteOffer(offer)" class="delete_btn"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>
      </td>
    </tr>
  </table>
</div>