<div ng-controller="SendCtrl">
  <h2 class="text-center">Resend Activation Code</h2>
  <hr>
  <form ng-submit="send()">
    <div class="row">
      <div class="form-group col-xs-12">
        <input type="text" ng-model="email" class="form-control" placeholder="Enter email here">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div ng-show="warning" class="alert alert-danger" role="alert">{{warning}}</div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>