body {
  padding: 50px;
}

.review{
    width:80%;
    height:50px;
}
.item{
  height:200px;
  border:1px solid;
  border-radius:5px;
  border-color:#E8E8E8;
  margin:5px;
  padding:10px;
}
.item:hover{
  background-color: #E8E8E8;
}
.items_container{
  padding:20px;
}
.item_details{
  border-radius:4px;
  border:1px solid;
  border-color:#E8E8E8;
  height:125px;
  margin-top:5px;
  margin-bottom:5px;
  padding:2px;
  cursor:pointer;
}
.item_description{
  width:50%;
  display:inline-block;
}
.bid_button{
  padding-top:2px;
  padding-bottom:2px;
  padding-left:20px;
  padding-right:20px;
  margin-top:3px;
  margin-bottom:3px;
  margin-right:15px;
}
.enter_price{
  display:inline-block;
  vertical-align: middle;
  position:absolute;
  font-size:x-large;
}
.price{
  width:90px;
}
.item_left{
  display:inline-block;
  width:40%;
}
.item_right{
  display:inline-block;
}
.item_name{
  margin-top:20px;
  margin-bottom: 20px;
}